* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    width: 100%;
    background-color: rgb(71, 97, 88);
    box-shadow: 1px 1px 5px black;
    justify-content: space-between;
    position: relative;
}
.nav-toggle {
    display: none;
}
.nav-toggle-label {
    display: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    z-index: 11;
}
.toggle,
.profile {
    display: flex;
    justify-content: space-evenly;
    z-index: 10;
}
.nav a,
.profile a{
    text-decoration: none;
    font-size: 1.2rem;
    margin: 20px;
    color: white;
    padding: 4px 0.5rem;
    border-radius: 8px;
    text-shadow: 1px 1px 3px black;
}

a:hover {
    background-color: rgb(64, 85, 77);

}
@media (max-width: 750px) {
    .toggle {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding: 10px;
        z-index: 10;
    }

    .nav-toggle-label {
        display: block;
    }

    .nav-toggle:checked+.nav-toggle-label+.toggle {
        display: flex;
    }

    /* .profile {
        display: none;
    } */
}
.content1{
    width: 58vw;
    height: 100%;
    margin: 3rem auto;
    box-shadow: 1px 1px 50px black;
}
@media screen and (max-width: 1000px) {
    .content1{
        width: 80vw;
    }
}
.bg{
    width: 100%;
    height: 50%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    z-index: 1;
}
.bgimg{
    width:100%;
    height: 100%;
    overflow: hidden;
   display: block;
}
.title {
    position: absolute;
    width: 35rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 1200px) {
            .title {
                font-size: 2rem;
                width: 22rem;
            }
        }
@media screen and (max-width: 900px) {
                    .title {
                        font-size: 1.8rem;
                        width: 20rem;
                    }
                }
.mainContent{
    display: flex;
    flex-direction: column;
    padding: 1.5rem 3rem ;
    font-size: 1.3rem;
    text-align: justify;
    gap: 0.8rem;
}
.highlight{
    color: rgb(7, 100, 69);
    font-weight: bold;
    font-size: 2rem;
}
@media screen and (max-width: 1200px) {
    .mainContent {
            font-size: 1.05rem;
        }
        .highlight {
            font-size: 1.3em;
        }
}

.explore{
    background-color: rgb(92, 137, 122);
    font-size: 1rem;
    margin: auto;
    color: white;
    text-shadow: 1px 1px 5px black;
    border-radius: 0.4rem;
   margin: 2px auto ;
    padding: 0.3rem 1rem;
    font-weight: bold;
    transition: transform 0.3s ease;
}
.explore:hover{
    background-color: rgb(69, 100, 90);
    transform: scale(1.1);
}
.contact {
    margin: 50px 20px;
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: column; */
    gap: 1rem;
}
@media screen and (max-width: 1300px){
    .contact{
        flex-direction: column;
    }
}
.contactHead{
    color: rgb(38, 59, 52);
    width: 10rem;
    margin: 1rem auto;
}
.contactPageTitle{
    width: 80%;
    margin: 1rem auto ;
    color: rgb(51, 75, 67);
    font-size: 1.2rem;
    text-align: center;
    text-shadow: 0.01rem 0.01rem 0.02rem black;
}
.queryForm,
.feedbackForm {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 27rem;
    margin: auto;
    background-color:rgb(190, 215, 206);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 20px black;
}

input[type="text"],
input[type="email"] {
    height: 40px;
    padding: 5px;
    font-size: 15px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

textarea {
    height: 10rem;
    font-size: 15px;
    border-radius: 8px;
    padding: 5px;
    transition: transform 0.3s ease;
}

.submit {
    padding: 5px;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    width: 5rem;
    font-size: 1rem;
    border-radius: 5px;
    background-color: rgb(84, 128, 113);
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.submit:hover{
  transform: scale(1.05);
  background-color: rgb(81, 110, 100);
}
input[type="text"]:hover,
input[type="email"]:hover, textarea:hover {
    transform: scale(1.01);
}.about {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    text-align: center;
    /* margin: 1rem 5rem; */
}

#profile-section {
    width: 50%;
}

#profile {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
}

#topread {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

#topreadtitle {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(51, 51, 51);
    margin: 10px;
}
@media screen and (max-width: 1300px) {
    #topreadtitle {
            font-size: 2rem;
        }
}

#wrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    

}
@media screen and (max-width: 700px) {
    #wrap {
            flex-direction: column;
            gap: 1.5rem;
        }
}


.card {
    cursor: pointer;
    position: relative;
    width: 15rem;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    transition: bottom 0.3s;
}

.card:hover .overlay {
    bottom: 0;
}

.overlay h2 {
    margin-top: 50px;
    font-size: 1.5rem;
}

.statcards {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 0.2rem 0.5rem;
}

.statcard {
    margin: 10px;
    padding: 10px;
    background: rgb(186, 225, 212);
    border-radius: 1rem;
transition: transform 0.3s ease;
}
.statcard:hover{
    transform: scale(1.1);
}

.statimg {
    width: 10%;
}
.contestPage{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 70%;
    margin: 2rem auto;
  
}
.contestSec{
    background-color: rgb(203, 167, 51);
    color: white;
    text-shadow: 1px 1px 4px black;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    text-align: justify;
    transition: transform 0.3s ease;
    box-shadow: 0px 1px 10px black;
    display: flex;
    flex-direction: column;

}
.contestSec:hover{
    transform: scale(1.05);
}
.contestPageHead{
    color: rgb(82, 118, 106);
    text-shadow: 1px 1px 1px rgb(251, 239, 212);
    margin: auto;
}
.contestPagetopcontent{
    font-size: 1.1rem;
    margin: auto;
}
.contestHead{
    padding: 0.5rem;
    color: rgb(172, 216, 202);
}
.contestBtn{
    padding: 0.3rem 1rem;
    margin: 0.5rem auto;
    background-color: rgb(93, 148, 130);
    border-radius: 1rem;
    font-size: 1.1rem;
    box-shadow: 1px 1px 5px black;
    text-shadow: 1px 1px 5px black;
    color: white;
    border: none;
}
.contestBtn:hover{
    transform: scale(1.1);
}
.categories{
    width: 80%;
    margin: 1rem auto;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 150px));
    gap: 1.5rem;
    justify-content: center;
    
}

.categoryCard {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(177, 176, 176);
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease;
    background-color: rgb(88, 113, 104);
    cursor: pointer;
}
.categoryCard:hover{
    transform: scale(1.03);
    box-shadow: 1px 1px 20px black;
}

.categoryImg {
    position: relative;
    overflow: hidden;
    height: 6rem;
    height: 8rem;
}
.category, .genreInfo{
    color: white;
    padding: 0.5rem;
    text-shadow: 1px 1px 2px black;
    text-align: justify;
}

.categoryContent{
    width: 80%;
    padding: 2rem;
    margin: auto;
    text-align: center;
}
.categoryContent p{
    width: 95%;
    margin: auto;
}
.categoryHead{

    color: rgb(49, 80, 69);
    width: fit-content;
    padding-bottom: 0.5rem;
    font-size: 1.6rem;
    margin: auto;
}
.search{
    width: 80%;
    margin: 2rem  auto;
    display: flex;
    gap: 0.1rem;
  
}
.libSearch{
   width: 90%;
    /* margin: auto; */
    height: 2rem;
    border-radius: 1rem;
    padding: 1.2rem 1rem;
}
.libBtn{
    background-color: rgb(77, 125, 109);
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    color: white;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 5px black;
    font-size: 1rem;
}

.bookList h2{
 text-align: center;
 color: rgb(41, 79, 66);
}

.booksContainer {
    width: 90%;
        margin: 1rem auto;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 150px));
        gap: 1.5rem;
        justify-content: center;
}

.book-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.book-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.book-card h3 {
    margin-top: 0;
    color: #34495e;
}

.book-card p {
    margin: 10px 0;
    line-height: 1.6;
}

.remove-book {
    background-color: #62b1a0;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.remove-book:hover {
    background-color: #4c9383;
}
.container1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}
.sectionTitle, .reviewContainer h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
    color: #333;
}

.featuredStories {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.story {
    background-color: #d8f0e7;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.story:hover{
    box-shadow: 1px 1px 10px black;
    transform: scale(1.02);
}

.storyTitle {
    font-size: 1.15rem;
    color: #182f29;
    margin-bottom: 10px;
}

.storyinfo {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.readMore {
    text-decoration: none;
    color: #458579;
    font-weight: bold;
    font-size: 1rem;
    transition: transform 0.3s ease;
}

.readMore:hover {
    transform: scale(1.01);
    background-color: rgb(65, 111, 96);
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
}
.reviewContainer{
    padding: 1rem 5rem;
    margin: auto;
   
}
.reviews{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.review{
    padding: 1.5rem 2rem;
  box-shadow: 1px 1px 10px rgb(65, 86, 79);
}
.review p{
    text-align: justify;
}
.authorProf{
    display: flex;
    align-items: center;
    margin-bottom: 0.7rem;
}
.imgAuth{
    width: 2rem;
  
}